#sesiones{
	/*border:#FF0 solid 2px;*/
	display:block;
	position:absolute;
	width:1195px;
	float:left;
}
#una_pelicula{
	/*border:#0FF solid 2px;*/
	display:block;
	height:370px;
	width:auto;
	margin-left:30px;
}

#titulo{
	display:block;
	width:auto;
}
#imagen{
	
	float:left;
}

table{
	float:left;
	margin-left:20px;
	}
td{
	vertical-align: top;
	width:100;
	font-size:small;
	text-align:center;
	}